
<div >
	
	<label for="titulo">
		Titulo
	</label>
	<input name='titulo' type="text" ng-model='curso.titulo'>
	<br>

	<label for="descricao">
		Descrição
	</label>
	<input name='descricao' type="text" ng-model='curso.descricao'>
	<br>

	<label for="emissor">
		Emissor
	</label>
	<input name='emissor' type="text" ng-model='curso.emissor'>
	<br>

	<label for="diploma">
		Diploma
	</label>
	<input name='diploma' type="text" ng-model='curso.diploma'>
	<br>

	<label for="link">
		Link
	</label>
	<input name='link' type="text" ng-model='curso.link'>
	<br>


	<label for="fim">
		fim
	</label>
	<input name='fim' type="text" ng-model='curso.fim'>
	<br>
	

	<button ng-click='salvar()'>
		Salvar
	</button>


	

</div>