
<div >
	
	
	<label for="titulo">
		Titulo
	</label>

	<input name='titulo' type="text" ng-model='atividade.titulo'>
	<br>
	<label for="atividade">
		atividade
	</label>

	<input name='atividade' type="text" ng-model='atividade.atividade'>
	<br>
	<label for="cargo">
		cargo
	</label>

	<input name='cargo' type="text" ng-model='atividade.cargo'>
	<br>
	<label for="inicio">
		inicio
	</label>

	<input name='inicio' type="text" ng-model='atividade.inicio'>
	<br>
	<label for="fim">
		fim
	</label>

	<input name='fim' type="text" ng-model='atividade.fim'>
	<br>
	

	<button ng-click='salvar()'>
		Salvar
	</button>


	

</div>